<div >
 <h2>Review Status</h2>
<form class="form-horizontal">
    
  <div class="form-group">
<textarea class="form-control" rows="3" ></textarea>
  </div>
  <div>
  <button type="button" class="btn btn-success" (click)='submit()'>Submit</button>
  </div>
  
</form>
</div>
 <div>  {{reviewCompleted}}   </div>
<div style="position: absolute; top: 0; right:0; width: 100px; text-align:right;">       
        
            <label>
                <button type="button" class="btn btn-primary" (click)='logout()' >Logout</button>
            </label>
</div >    
 
        
       
       